*{
    background-color: lightgrey;
}

.image-container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.sun{
    font-size: 100px;
    margin-right: 30px;
    text-align: center;
}

.function-text{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.function-text button{
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.answer-box{
    border: none;
    background-color: grey;
    min-height: 2em;
    width: 20em;
    padding: 5px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}